@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
    /* Color variables */
    --white:hsl(0, 0%, 100%);
    --Desaturated-dark-cyan: hsl(180, 29%, 50%);
    /* Background */
    --Light-grayish-cyan: hsl(180, 52%, 96%);
    /* Filter Tablets */
    --Light-grayish-cyan: hsl(180, 31%, 95%);
    --Dark-drayish-cyan: hsl(180, 8%, 52%);
    --Very-dark-grayish-cyan: hsl(180, 14%, 20%);
    --Shadow: hsla(100, 29%, 50%, 0.2);
    --black: hsla(0, 0%, 0%, 1);

    /* Font Variables */
--font-family: "League Spartan", sans-serif;
}

*{
    margin: 0px;
    padding: 0;
    list-style-type: 0;
    text-decoration: none;
    font-size: 15px;
}

a{
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
body{
    background-color: var(--Light-grayish-cyan);
}
h3{
    color: var(--Desaturated-dark-cyan);
}
/* Header Section */
.header{
    width: 100%;
}
.image-header{
    width: 100%;
    background-color: var(--Desaturated-dark-cyan);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 8rem;
    position: relative;
}
.jobs{
    max-width: 90%;
    margin: 0 auto;
}
.containter-box{
    background-color: var(--white);
    padding: 2.5rem 2rem;
    box-shadow: 5px 5px 10px 5px var(--Shadow);
    border-radius: .5rem;
    margin-bottom: 2.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.featured-box {
    border-left: .5rem solid var(--Dark-drayish-cyan);

}
.job-container{
    border-bottom: 1px solid var(--Desaturated-dark-cyan) hidden;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.job-tag{
    margin-top: 1.8rem;
    display: flex;
    gap: 1.6rem;
}
.company-name{
    display: flex;
    gap: .8rem;
    align-items: center;
}
.job-details{
    display: flex;
    gap: 1.5rem;
}
.img-id{
    width: 100px;
}
.role{
    font-weight: 700;
    color: var(--black);
    font-size: 18px;
}
.role:hover{
    color: var(--Desaturated-dark-cyan);
    cursor: pointer;
}
.new{
    background-color: var(--Desaturated-dark-cyan);
    color: var(--white);
    font-weight:bold;
    padding: .4rem .8rem;
    border-radius: 2rem;
    text-transform: uppercase;
}
.featured{
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    padding: .3rem .8rem;
    border-radius: 2rem;
    text-transform: uppercase;
}
.tag{
    background-color: var(--Light-grayish-cyan);
    color: var(--Desaturated-dark-cyan);
    font-weight: bold;
    padding: .3rem .8rem;
    border-radius: .3rem;
}
.tag:hover{
    background-color: var(--Desaturated-dark-cyan);
    color: var(--white);
    cursor: pointer;
}

.timing{
    color: var(--Dark-drayish-cyan);
    font-weight: bold;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dot{
    width: 3px;
    height: 3px;
    border-radius: 100px;
    background-color: var(--Dark-drayish-cyan);
}


@media screen and (max-width: 1080px){
    .containter-box{
        flex-direction: column;
        align-items: start;
        margin-bottom: 4.6rem;
    }
    .job-container{
        border-bottom: 1px solid var(--Desaturated-dark-cyan);
    }
    .job-details{
        flex-direction: column; 
    }
    .img-id{
        margin-top: -5rem;
    }
    .job-tag{
        margin-top: 1.8rem;
        flex-wrap: wrap;
    }
    .timing{
        padding-bottom: 1rem;
    }
    
}